.fa-bars {
    display: none;
}
main {
    margin-top: 90px;
}
.tech-main {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.main-left {
    max-width: 70%;
}
.main-item-container {
    max-width: 85%;
    margin: auto;
    padding-top: 20px;
}
.main-item-container img {
    width: 100%;
}
.main-right {
    padding: 20px;
    border-left: 1px solid #5c0404;
}
h4 {
    font-family: 'ROTOBO';
    letter-spacing: 1px;
    padding-top: 10px;
}
.main-item-container p {
    margin-top: 10px;
}
.read_more {
    padding: 8px;
    margin: 0px 30%;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #5c0404;
    transition-duration: background-color  1000ms linear;
}
.read_more:hover {
    cursor: pointer;
    background-color: #5c0404;
    color: #fff;
}
h3 {
    font-size: 1.5em;
}
.recent_post_container, .categories_post_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.main-right h3 {
    margin-top: 20px;
}
.recent_item_container, .categories_post_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    margin-top: 20px;
}
.recent_item_container img {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}
.recent_post_items, .categories_post_container a {
    text-align: center;
    margin-bottom: 10px;
    color: #000;
    font-weight: 800;
}
.categories_post_container a {
    text-align: left;
    padding: 0 20px;
}
a.recent_post_items:hover, .categories_post_container a:hover {
    color: rgba(33, 33, 33, 0.5);
}
.categories_post_container {
    padding-top: 20px;
}
@media (min-width: 768px) and (max-width: 1199px){
    header {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    #header-nav {
        order: 3;
        margin: auto;
    }
    .search-socials {
        order: 2;
    }
    .legal_links {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
@media (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .header-nav {
        display: none;
        flex-direction: column;
        background-color: #cfcfcf;
        padding: 15px;
        border: 1px solid #5c0404;
        border-radius: 8px;
        gap: 9px;
        position: absolute;
        top: 28px;
        right: 15px;
    }
    .header-nav-display {
        display: flex;
    }
    .fa-bars {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        color: #5c0404
    }
    .tech-main {
        flex-direction: column;
    }
    .main-left {
        max-width: 100%;
    }
    .main-right {
        border-left: none;
    }
    .read_more {
        width: 70%;
        margin: 0 15%;
        margin-top: 20px;
    }
    #footer-nav-container {
        display: none;
       }
       #footer-line {
        display: none;
       }
       #footer-items-container {
        flex-direction: column;
        gap: 10px;
       }
       .footer_social_links {
        display: flex;
        justify-content: space-between;
       }
       .legal_border {
        border-top: 1px solid #5c0404;
        border-bottom: 1px solid #5c0404;
        padding: 20px 0;
       }
       .legal_links {
        display: flex;
        justify-content: space-between;
       }
       h5 {
        color: black;
       }
       .about {
        width: 100%;
       }
       .about p {
        margin-top: 10px;
       }
       #copyright {
        font-size: 13px;
        font-style: italic;
       }
}