* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 6em;
    box-shadow: 0px 2px 5px 5px #aaaaaa;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: ghostwhite;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.header-nav li a {
    color: #000;
    border-top: 1px solid #b10b0b;
    transition: border-top-width 300ms linear;
}
.header-nav li a:hover {
    color: #b10b0b;
    border-top-width: 5px;
}
.header-nav {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
.input_text {
    width: 40px;
    transition: width 0.5s linear;
}
.toggle_search {
    width: 100%;
    transform-origin: right center;
    transition: width 1s linear;
}
.input_trans {
    border: 1px solid #5c0404;
    border-radius: 20px;
    padding: 5px;
    display: block;
}    
.search-socials {
    display: flex;
}
.fa, .fa-brands {
    font-size: 1.3em;
    margin: 5px;
}
.fa-search {
    font-size: 1.3em;
    padding: 5px;
    color: grey;
    cursor: pointer;
}
.fa-twitter {
    color: #2379f8
}
.fa-facebook {
    color: blue
}
.fa-youtube {
    color: #d80000
}
#socials {
    display: flex;
    align-items: center;
}
.fa-bars {
    display: none;
}
main {
    display: flex;
    justify-content: center;
    margin-top: 6.5em;
}
.post_header_container {
    max-width: 60%;
    background-color: #fff;
    padding: 10px;
}
.post_header_container img {
    width: 100%;
}
.post_link {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}
.post_link a:nth-child(1) {
    border-right: 1px solid black;
    padding-right: 10px;
}
.post_link a {
    text-decoration: none;
    color: #5c0404;
}
.post_link a:hover {
    color: #ce0d0d;
}
.writer {
    font-size: 14px;
    font-style: italic;
}
h1 {
    letter-spacing: 1px;
}
.write_up {
    padding: 0 10px;
    letter-spacing: .7px; 
}
#comment {
    display: flex;
    justify-content: center;
    margin: 30px 0; 
}
#comment_item {
    width: 60%;
    background-color: #fff;
    padding: 10px;
}
form {
    max-width: 90%;
    margin: auto;
}
textarea {
    width: 100%;
    height: 11em;
    font-size: 1.3em;
}
.details {
    display: flex;
    gap: 30px;
    margin-top: 10px; 
}
.details input {
    height: 37px;
}
.submit {
    margin-top: 20px;
    background-color: #5c0404;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border: none;
}
.submit:hover {
    background-color: #fff;
    color:#5c0404;
    border: 1px solid #5c0404
}
.submit:active {
    background-color: #5c0404;
    color: #fff;
}
/** FOOTER **/
footer {
    background-color: #9a9a9a;
    color: #fff;
}
#footer-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 30px;
}
#footer-items-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 30px;
}
h5 {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
.footer-socials a{
    font-size: 20px;
}
.footer-socials p {
    margin: 5px 0;
}
#footer-nav {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}
#footer-nav li a {
    color: #fff;
}
#footer-nav li a:hover {
    color: #2379f8;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-links a {
    color: #fff;
    font-size: 20px;
}
.footer-links a:hover {
    color: #2379f8;
}
.about {
    width: 35%;
}
.about p {
    letter-spacing: 1px;
}
.legal_links {
    display: flex;
    flex-direction: column;
   gap: 15px;
}
#copyright {
    padding: 20px 10px;
    background-color: rgba(59, 59, 59, 0.2);
}
.copyright-text {
    text-align: center;
}
@media (min-width: 768px) and (max-width: 1199px){
    header {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    #header-nav {
        order: 3;
        margin: auto;
    }
    .search-socials {
        order: 2;
    }
}
@media (max-width: 767px) {
    header {
        flex-direction: column;
        justify-content: space-evenly;
       }
    .header-nav {
        display: none;
        flex-direction: column;
        background-color: #cfcfcf;
        padding: 15px;
        border: 1px solid #5c0404;
        border-radius: 8px;
        gap: 9px;
        position: absolute;
        top: 28px;
        right: 15px;
    }
    .header-nav-display {
        display: flex;
    }
    .fa-bars {
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        color: #5c0404
    }
    .post_header_container {
        max-width: 80%;
    }
    #comment_item {
        width: 80%;
    }
    .details {
        flex-direction: column;
    }
    .submit {
        margin-left: 30%;
    }
    #footer-nav-container {
        display: none;
       }
       #footer-line {
        display: none;
       }
       #footer-items-container {
        flex-direction: column;
        gap: 10px;
       }
       .footer_social_links {
        display: flex;
        justify-content: space-between;
       }
       .legal_border {
        border-top: 1px solid #5c0404;
        border-bottom: 1px solid #5c0404;
        padding: 20px 0;
       }
       .legal_links {
        display: flex;
        justify-content: space-between;
       }
       h5 {
        color: black;
       }
       .about {
        width: 100%;
       }
       .about p {
        margin-top: 10px;
       }
       #copyright {
        font-size: 13px;
        font-style: italic;
       }
}